.background {
    background-image: url('./Image/pexels-esan-2085998.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: x-large;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.input-border {
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    background-color: #EDEFF0;
    width: 300px;
    padding: 5px;
}

.input-line {
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: 300;
}

.baldfont {
    font-weight: bold;
    font-size: xx-large;
}

.button{
    background-color: #4CAF50;
    border-radius: 10px;
    color: #EDEFF0;
    padding: 10px;
    margin: auto;
    
}